<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加用户成功</title>
    <link href="/css/show.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script>
        //alert("删除成功");
        alert("添加用户成功");
        self.location=document.referrer;
        //window.location.href = '/managerlogin?name=boss&password=123';
    </script>

</head>
<body>


<!--/*@thymesVar id="uid" type="java"*/-->
<p th:text="'用户ID：' + ${id}"></p>






</body>
</html>