<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="8" background="/tab/images/tab_12.gif">&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6" onmouseover="changeto()"  onmouseout="changeback()">
            <tr>
                <td width="3%" height="22" background="images/bg.gif" bgcolor="#FFFFFF"><div align="center">
                    <input type="checkbox" name="checkbox" value="checkbox" />
                </div></td>
                <td width="25%" height="22" background="/tab/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">员工姓名</span></div></td>
                <td width="25%" height="22" background="/tab/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">工作量</span></div></td>
                <td width="15%" height="22" background="/tab/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">提交时间</span></div></td>


                <td width="15%" height="22" background="/tab/images/bg.gif" bgcolor="#FFFFFF" class="STYLE1"><div align="center">基本操作</div></td>
            </tr>




            <!--/*@thymesVar id="userslist" type=""*/-->
            <tr th:each="emp : ${jobslist}">
                <td height="20" bgcolor="#FFFFFF"><div align="center">
                    <input type="checkbox" name="checkbox3" value="checkbox" />
                </div></td>
                <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE1">
                    <div align="center"><!--/*@thymesVar id="id" type=""*/-->
                        <p  th:id="'idid'+${emp.name}" th:text="${emp.name}">12</p></div>
                </div></td>
                <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1"><p  th:text="${emp.number}">海<p/></span></div></td>
                <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1"><p th:text="${emp.date}">12</p></span></div></td>

                <td height="20" bgcolor="#FFFFFF"><div align="center"><span class="STYLE4"><img src="/tab/images/edt.gif" width="16" height="16" />编辑&nbsp; &nbsp;<img src="/tab/images/del.gif" width="16" height="16" />删除</span></div></td>

            </tr>


        </table></td>
        <td width="8" background="/tab/images/tab_15.gif">&nbsp;</td>
    </tr>
</table>


</body>
</html>