<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>淘淘商城</title>
    <link href="/css/listcss.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>


    <script>
        var  highlightcolor='#c1ebff';
        //此处clickcolor只能用win系统颜色代码才能成功,如果用#xxxxxx的代码就不行,还没搞清楚为什么:(
        var  clickcolor='#51b2f6';
        function  changeto(){
            source=event.srcElement;
            if  (source.tagName=="TR"||source.tagName=="TABLE")
                return;
            while(source.tagName!="TD")
                source=source.parentElement;
            source=source.parentElement;
            cs  =  source.children;
//alert(cs.length);
            if  (cs[1].style.backgroundColor!=highlightcolor&&source.id!="nc"&&cs[1].style.backgroundColor!=clickcolor)
                for(i=0;i<cs.length;i++){
                    cs[i].style.backgroundColor=highlightcolor;
                }
        }

        function  changeback(){
            if  (event.fromElement.contains(event.toElement)||source.contains(event.toElement)||source.id=="nc")
                return
            if  (event.toElement!=source&&cs[1].style.backgroundColor!=clickcolor)
//source.style.backgroundColor=originalcolor
                for(i=0;i<cs.length;i++){
                    cs[i].style.backgroundColor="";
                }
        }

        function  clickto(){
            source=event.srcElement;
            if  (source.tagName=="TR"||source.tagName=="TABLE")
                return;
            while(source.tagName!="TD")
                source=source.parentElement;
            source=source.parentElement;
            cs  =  source.children;
//alert(cs.length);
            if  (cs[1].style.backgroundColor!=clickcolor&&source.id!="nc")
                for(i=0;i<cs.length;i++){
                    cs[i].style.backgroundColor=clickcolor;
                }
            else
                for(i=0;i<cs.length;i++){
                    cs[i].style.backgroundColor="";
                }
        }
    </script>



    <script type="text/javascript">
        function deleteuser(data) {
            //alert(data);

            window.location.href = '/del?id='+data;
        }

        function edituser(data1,data2,data3,data4,data5) {
            //alert("id="+data1);
            //alert("name="+data2);
            window.location.href = '/edi?id='+data1+'&name='+data2+'&password='+data3+'&mobile='+data4+'&role='+data5;
            //window.location.href = '/show600?name='+data;
        }
    </script>

    <script>
        function changePage(pagePath) {
            const rightContent = $("#right-contentt");
            rightContent.empty();
            rightContent.load(pagePath);
        }
    </script>
    <script type="text/javascript">
        function addtocart(data1,data2,data3,data4) {
            //alert(data);
            window.location.href = '/addtomycart?shgoodsid='+data1+'&shgoodsname='+data2+'&shgoodsprice='+data3+'&shgoodsdescribe='+data4;
        }


    </script>


</head>

<body>



<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="70" background="images/main_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="24"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="270" height="24" background="../images/03.gif">&nbsp;</td>
                        <td width="505" background="../images/main_04.gif">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td width="21"><img src="../images/main_07.gif" width="21" height="24"></td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td height="38"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="270" height="38" background="images/kerenduan.png">&nbsp;</td>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="77%" height="25" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>

                                        <td width="26"><div align="center"><img src="images/main_21.gif" width="26" height="19"></div></td>
                                        <td width="50"><div align="center"><a href="login.html"><img src="images/main_20.gif" width="48" height="19"></a></div></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table></td>
                                <td width="220" valign="bottom"  nowrap="nowrap"><div align="right"><span style="color:white"> 今天是：2019年12月6日</div></td>
                            </tr>
                        </table></td>
                        <td width="21"><img src="images/main_11.gif" width="21" height="38"></td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td height="8" style=" line-height:8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="270" background="images/main_29.gif" style=" line-height:8px;">&nbsp;</td>
                        <td width="505" background="images/main_30.gif" style=" line-height:8px;">&nbsp;</td>
                        <td style=" line-height:8px;">&nbsp;</td>
                        <td width="21" style=" line-height:8px;"><img src="images/main_31.gif" width="21" height="8"></td>
                    </tr>
                </table></td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td height="28" background="images/main_36.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="177" height="28" background="images/main_32.gif" style="background-repeat: no-repeat"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="20%"  height="22">&nbsp;</td>
                        <td width="59%" valign="bottom"><div align="center" class="STYLE1"><!--/*@thymesVar id="uname" type="java"*/-->
                            <p th:text=" ${uname}"/></p></div></td>
                        <td width="21%">&nbsp;</td>
                    </tr>
                </table></td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">

                </table></td>
                <td width="21"><img src="images/main_37.gif" width="21" height="28" style="background-repeat: no-repeat"></td>
            </tr>
        </table></td>
    </tr>
</table>




<!--用户表单部分，实现了表单的查改删-->
<div  style="width:100%;">
    <div  style="width:87%;float:right;">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" th:fragment="tablelist">
            <tr>
                <td height="30" background="/tab/images/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">

                </table></td>
            </tr>
            <tr>
                <td>
                    <div id="right-contentt" style="text-align: center">

                        <img  src="images/ttbg.jpg" style="background-repeat: no-repeat" width="70%" />

                    </div>

                </td>
            </tr>

        </table>
    </div>



    <!--  左边菜单栏 -->


    <style type="text/css">
        <!--
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        .STYLE6{
            font-size: 12px;
            color: #FFFFFF;
        }
        .STYLE8 {
            font-size: 12px;
            color: #033d61;
        }
        -->
    </style>
    <style type="text/css">
        .menu_title SPAN {
            FONT-WEIGHT: bold; LEFT: 3px; COLOR: #ffffff; POSITION: relative; TOP: 2px
        }
        .menu_title2 SPAN {
            FONT-WEIGHT: bold; LEFT: 3px; COLOR: #FFCC00; POSITION: relative; TOP: 2px
        }

    </style>
    <script>
        var he=document.body.clientHeight-105
        document.write("<div id=tt style=height:"+he+";overflow:hidden>")
    </script>

    <table width="165" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td height="28" background="images/main_40.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="19%">&nbsp;</td>
                    <td width="81%" height="20"><span class="STYLE6">管理菜单</span></td>
                </tr>
            </table></td>
        </tr>
        <tr>
            <td valign="top"><table width="151" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="23" background="images/main_47.gif" id="imgmenu1" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu(1)" onMouseOut="this.className='menu_title';" style="cursor:hand"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="18%">&nbsp;</td>
                                    <td width="82%" class="STYLE6">淘淘商城</td>
                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                            <td background="images/main_51.gif" id="submenu1">
                                <div class="sec_menu" >
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="16%" height="25"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                    <td width="84%" height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/shumadianzilist')"> 数码电子</button></span></td>
                                                        </tr>
                                                    </table></td>
                                                </tr>


                                                <tr>
                                                    <td height="23"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                    <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span  class="STYLE3"><button onclick="changePage('/bangongwenjiaolist')">办公文教</button></span></td>
                                                        </tr>
                                                    </table></td>
                                                </tr>


                                                <tr>
                                                    <td height="23"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                    <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/jiayongdianqilist')">家用电器</button></span></td>
                                                        </tr>
                                                    </table></td>
                                                </tr>

                                                <tr>
                                                    <td height="23"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                    <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/shipinshengxianlist')">食品生鲜</button></span></td>
                                                        </tr>
                                                    </table></td>
                                                </tr>
                                            </table></td>
                                        </tr>
                                        <tr>
                                            <td height="5"><img src="images/main_52.gif" width="151" height="5" /></td>
                                        </tr>
                                    </table></div></td>
                        </tr>

                    </table></td>
                </tr>
                <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td height="23" background="images/main_47.gif" id="imgmenu2" class="menu_title" onmouseover="this.className='menu_title2';" onclick="showsubmenu(2)" onmouseout="this.className='menu_title';" style="cursor:hand"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="18%">&nbsp;</td>
                                    <td width="82%" class="STYLE6">个人中心</td>
                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                            <td background="images/main_51.gif" id="submenu2"><div class="sec_menu" >
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="16%" height="25"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                <td width="84%" height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/edipersonalinfo')">个人信息</button></span></td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                            <tr>
                                                <td height="23"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/showmyshopcart')">购物篮子</button></span></td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                            <tr>
                                                <td height="23"><div align="center"><img src="images/left.gif" width="10" height="10" /></div></td>
                                                <td height="23"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="20" style="cursor:hand" onmouseover="this.style.borderStyle='solid';this.style.borderWidth='1';borderColor='#7bc4d3'; "onmouseout="this.style.borderStyle='none'"><span class="STYLE3"><button onclick="changePage('/personalgoodsordershow')">我的订单</button></span></td>
                                                    </tr>
                                                </table></td>
                                            </tr>

                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td height="5"><img src="images/main_52.gif" width="151" height="5" /></td>
                                    </tr>
                                </table>
                            </div></td>
                        </tr>
                    </table>          </td>
                </tr>
            </table></td>
        </tr>

    </table>

    <script>




        function showsubmenu(sid)
        {
            whichEl = eval("submenu" + sid);
            imgmenu = eval("imgmenu" + sid);
            if (whichEl.style.display == "none")
            {
                eval("submenu" + sid + ".style.display=\"\";");
                imgmenu.background="images/main_47.gif";
            }
            else
            {
                eval("submenu" + sid + ".style.display=\"none\";");
                imgmenu.background="images/main_48.gif";
            }
        }

    </script>

</div>
</body>
</html>
